/* Stili per la sezione "map" */
#map {
    position: fixed; /* Imposta la posizione fissa */
    left: 0; /* Allinea a sinistra al bordo sinistro della pagina */
    width: 100%; /* Larghezza del 100% della pagina */
    height: 100%; /* Altezza del 100% della pagina */
    z-index: -1; /* Sposta la mappa dietro al contenuto */
}
#centerMapButton {
    background-color: #ffffff; /* Colore di sfondo del bottone */
    border-radius: 50%; /* Rende il bottone circolare */
    width: 50px; /* Imposta la larghezza del bottone */
    height: 50px; /* Imposta l'altezza del bottone */
    font-size: 24px; /* Dimensione dell'icona */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Aggiunge un'ombra al bottone */
    transition: background-color 0.3s, box-shadow 0.3s; /* Aggiunge una transizione per effetti hover */
    border: 2px solid #007bff00;
    color: #000000;
    display: flex; /* Utilizza il layout flex */
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
}

#centerMapButton:hover {
    background-color: #eef6ff; /* Cambia il colore di sfondo al passaggio del mouse */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Aumenta l'ombra al passaggio del mouse */
}

.btn-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.col-text-center {
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn-center {
    background-color: #ffffff; /* Colore di sfondo del bottone */
    border-radius: 50%; /* Rende il bottone circolare */
    width: 50px; /* Imposta la larghezza del bottone */
    height: 50px; /* Imposta l'altezza del bottone */
    font-size: 24px; /* Dimensione dell'icona */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Aggiunge un'ombra al bottone */
    transition: background-color 0.3s, box-shadow 0.3s; /* Aggiunge una transizione per effetti hover */
    border: 2px solid #007bff00;
    color: #000000;
    display: flex; /* Utilizza il layout flex */
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
}

